@import "tailwindcss";
@layer utilities {
}

@layer base {
  :root {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Nunito", sans-serif;
    background: #f6f9ff;
    color: #444444;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/ /* text-shadow-md */
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    @apply text-slate-900 font-semibold;
  }
  h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* text-shadow-md */
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
  label {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: none;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
  }

  p {
    color: var(--color-indigo-700);
  }
}
@layer components {
  .a_red {
    color: var(--color-red-500);

    text-decoration-line: underline;
    @apply underline-offset-4;
  }

  .btn {
    @apply bg-cyan-500 shadow-lg shadow-cyan-500/50 
           px-1  text-white cursor-pointer 
           transition transform active:scale-95;
  }
  .btn-primary {
    background-color: var(--color-primary);
    @apply hover:bg-blue-300;
  }

  .btn-secondary {
    background-color: var(--color-secondary);
  }

  .btn-success {
    background-color: var(--color-success);
  }

  .btn-danger {
    background-color: var(--color-danger);
  }

  .btn-warning {
    background-color: var(--color-warning);
  }

  .btn-info {
    background-color: var(--color-info);
  }

  .btn-light {
    background-color: var(--color-light);
    color: black;
  }

  .btn-dark {
    background-color: var(--color-dark);
  }
  .橫向排列 {
    @apply flex;
  }
  .縱向排列 {
    @apply flex flex-col;
  }
}
@theme {
  --color-primary: oklch(50% 0.3 250); /* 深藍色 */
  --color-secondary: oklch(60% 0.1 280); /* 灰紫色 */
  --color-success: oklch(55% 0.25 150); /* 綠色 */
  --color-danger: oklch(55% 0.3 25); /* 紅色 */
  --color-warning: oklch(75% 0.2 85); /* 黃色 */
  --color-info: oklch(65% 0.2 230); /* 天藍色 */
  --color-light: oklch(95% 0.02 100); /* 淺灰白 */
  --color-dark: oklch(20% 0.05 270); /* 深灰黑 */
}

#header {
  @apply fixed top-0 h-[6rem] w-full z-999;
}

#main {
  @apply mt-[6rem];
}

/**/
.badge {
  @apply font-bold rounded-sm drop-shadow-sm px-2 py-1;
}

/* Card */

.card {
  @apply mb-7 border-none rounded-md shadow-lg shadow-[rgba(1,41,112,0.1)];
}

.card-header,
.card-footer {
  @apply border border-[#ebeef4] bg-white text-[#798eb3] p-4;
}

.card-title {
  @apply py-5 text-lg font-medium text-[#012970] font-[Poppins,sans-serif];
}

.card-title span {
  @apply text-[#899bbd] text-sm font-normal;
}

.card-body {
  @apply px-5 pb-5;
}

.card-img-overlay {
  @apply bg-[rgba(255,255,255,0.6)];
}
