@import "tailwindcss";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/violet.css";
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  @apply font-bold;
}

a {
  color: #4154f1;
  text-decoration: none;
  @apply font-bold drop-shadow-sm;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold drop-shadow-sm;
  font-family: "Nunito", sans-serif;
}
/**/
.badge {
  @apply font-bold rounded-sm drop-shadow-sm px-2 py-1;
}

/* Card */

.card {
  @apply mb-7 border-none rounded-md shadow-lg shadow-[rgba(1,41,112,0.1)];
}

.card-header,
.card-footer {
  @apply border border-[#ebeef4] bg-white text-[#798eb3] p-4;
}

.card-title {
  @apply py-5 text-lg font-medium text-[#012970] font-[Poppins,sans-serif];
}

.card-title span {
  @apply text-[#899bbd] text-sm font-normal;
}

.card-body {
  @apply px-5 pb-5;
}

.card-img-overlay {
  @apply bg-[rgba(255,255,255,0.6)];
}
